apps/voice-agent/workflows/mcp_XYiIkxpa4PlnddQt.json
{
  "name": "Coziyoo MCP Gateway (XYiI)",
  "nodes": [
    {
      "id": "mcp-webhook",
      "webhookId": "XYiIkxpa4PlnddQt",
      "name": "MCP Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "parameters": {
        "path": "XYiIkxpa4PlnddQt",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "normalize",
      "name": "Normalize MCP Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 320],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $json.body ?? $json;\nconst startedAt = Date.now();\nreturn [{ json: {\n  traceId: body.traceId || `mcp-${Date.now()}`,\n  action: String(body.action || 'unknown'),\n  params: typeof body.params === 'object' && body.params !== null ? body.params : {},\n  roomId: body.roomId || null,\n  deviceId: body.deviceId || null,\n  requestedByWorkflowId: body.requestedByWorkflowId || null,\n  startedAt\n}}];"
      }
    },
    {
      "id": "dispatch-switch",
      "name": "Dispatch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [800, 320],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "products.search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "products.list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "orders.status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "health.check",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": { "looseTypeValidation": true }
      }
    },
    {
      "id": "products-search-http",
      "name": "Products Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 100],
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:3000/v1/voice/foods",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.params.query || '' }}"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ai-server-secret",
              "value": "={{ $vars.AI_SERVER_SHARED_SECRET }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "products-list-http",
      "name": "Products List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 260],
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:3000/v1/voice/foods",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ai-server-secret",
              "value": "={{ $vars.AI_SERVER_SHARED_SECRET }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "orders-status-stub",
      "name": "Orders Status (Stub)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 420],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { ...$json, ok: false, status: 501, data: null, error: { code: 'NOT_IMPLEMENTED', message: 'Order status lookup is not yet implemented.' } } }];"
      }
    },
    {
      "id": "health-check-code",
      "name": "Health Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 580],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { ...$json, ok: true, status: 200, data: { service: 'mcp-gateway', status: 'ok' }, error: null } }];"
      }
    },
    {
      "id": "default-error-code",
      "name": "Unsupported Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 740],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { ...$json, ok: false, status: 400, data: null, error: { code: 'UNSUPPORTED_ACTION', message: `Unsupported action: ${$json.action}` } } }];"
      }
    },
    {
      "id": "normalize-result",
      "name": "Normalize Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 420],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize HTTP responses from products API into standard MCP envelope\nconst base = $('Normalize MCP Input').item.json;\n\n// If this came from an HTTP node, $json has the raw API response body\n// If it already has ok/status fields (stub nodes), pass through\nif ('ok' in $json || $json.error) {\n  return [{ json: { ...base, ok: Boolean($json.ok), status: Number($json.status || 200), data: $json.data ?? null, error: $json.error ?? null } }];\n}\n\n// Normalize foods API response: { data: { foods: [...], total: N } }\nconst apiData = $json.data || $json;\nconst foods = Array.isArray(apiData.foods) ? apiData.foods : [];\nconst total = typeof apiData.total === 'number' ? apiData.total : foods.length;\n\nreturn [{ json: { ...base, ok: true, status: 200, data: { foods, total }, error: null } }];"
      }
    },
    {
      "id": "audit",
      "name": "Audit Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 420],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const finishedAt = Date.now();\nconst base = $('Normalize MCP Input').item.json;\nconst durationMs = finishedAt - Number(base.startedAt || finishedAt);\nconst classification = $json.ok ? 'success' : ($json.status >= 500 ? 'upstream_error' : 'client_error');\nreturn [{ json: {\n  ok: Boolean($json.ok),\n  status: Number($json.status || 500),\n  data: $json.data ?? null,\n  error: $json.error ?? null,\n  durationMs,\n  traceId: base.traceId,\n  roomId: base.roomId,\n  deviceId: base.deviceId,\n  requestedByWorkflowId: base.requestedByWorkflowId,\n  classification,\n  source: 'mcp-gateway'\n}}];"
      }
    },
    {
      "id": "respond",
      "name": "Respond MCP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1880, 420],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      }
    }
  ],
  "connections": {
    "MCP Webhook In": {
      "main": [[{ "node": "Normalize MCP Input", "type": "main", "index": 0 }]]
    },
    "Normalize MCP Input": {
      "main": [[{ "node": "Dispatch Action", "type": "main", "index": 0 }]]
    },
    "Dispatch Action": {
      "main": [
        [{ "node": "Products Search", "type": "main", "index": 0 }],
        [{ "node": "Products List", "type": "main", "index": 0 }],
        [{ "node": "Orders Status (Stub)", "type": "main", "index": 0 }],
        [{ "node": "Health Check", "type": "main", "index": 0 }],
        [{ "node": "Unsupported Action", "type": "main", "index": 0 }]
      ]
    },
    "Products Search": {
      "main": [[{ "node": "Normalize Result", "type": "main", "index": 0 }]]
    },
    "Products List": {
      "main": [[{ "node": "Normalize Result", "type": "main", "index": 0 }]]
    },
    "Orders Status (Stub)": {
      "main": [[{ "node": "Normalize Result", "type": "main", "index": 0 }]]
    },
    "Health Check": {
      "main": [[{ "node": "Normalize Result", "type": "main", "index": 0 }]]
    },
    "Unsupported Action": {
      "main": [[{ "node": "Normalize Result", "type": "main", "index": 0 }]]
    },
    "Normalize Result": {
      "main": [[{ "node": "Audit Envelope", "type": "main", "index": 0 }]]
    },
    "Audit Envelope": {
      "main": [[{ "node": "Respond MCP", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
